# Logs and temporary files
*.log
*.tmp
*.temp
log/
tmp/
temp/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
htmlcov/
.tox/

# Shell Scripts outputs/backups
*.bak
# Ignore *only* files in a specific 'outputs' directory
/outputs/

#vscode
.vscode/